<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
        <ul class="navbar-nav m1-auto">
            <li class="nav-item">
                <a href="https://github.com/jenny-q/overseas" target="_blank" class="btn btn-primary">View Repository</a>
            </li>
        </ul>
    </div>
</nav>