<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <ul class="navbar-nav m1-auto">
            <li class="nav-item">
                <a href="github.com/jenny-q" class="nav-link">Github</a>
            </li>
        </ul>
    </div>
</nav>